<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress SqlResolve -->
<mapper namespace="com.spring.test.chapter6.chapter6.UserMapper">
    <select id="selectUser" resultType="com.spring.test.chapter6.chapter6.User">
        select * from test_user
    </select>

    <insert id="insertUser" parameterType = "com.spring.test.chapter6.chapter6.User" >
        insert into test_user(id, userName,count)
        values(null, #{userName}, #{count})
    </insert>



    <update id="updateUser" parameterType = "com.spring.test.chapter6.chapter6.User">
        update test_user
        SET
            userName = #{userName},
            count = #{count}
        WHERE id = #{id}
    </update>
<!--    <update id="reduceUser">-->
<!--        update test_user-->
<!--        SET-->
<!--            count = count-1-->
<!--        WHERE id = #{id}-->
<!--    </update>-->

    <update id="reduceUser">
        update test_user a
        SET
            a.count = ( select c.count from (select b.count from test_user b  where b.id = #{id}) c ORDER by c.count)- 1
        WHERE a.id = #{id}
    </update>

<!--    <update id="reduceUser">-->
<!--        SELECT @userCount := count FROM test_user WHERE id = 1;-->
<!--        update test_user-->
<!--        SET-->
<!--            count = @userCount-1-->
<!--        WHERE id = 1;-->
<!--    </update>-->
    <select id="selectUserById" resultType="com.spring.test.chapter6.chapter6.User" parameterType="java.lang.String" >
        select * from test_user where id = #{id}
    </select>
    <select id="selectTc" resultType="java.lang.String">
        select @@session.transaction_isolation
    </select>
</mapper>